@media (min-width: 1500px) {
  .product-flex {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 4px;
  }
  .RowProduct{
    width:117%;
  }

}
 @media (min-width: 1200px) and (max-width: 1500px) {
  .product-flex {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4px;
  }
}

@media (min-width: 1100px) and (max-width:1200px) {
  .product-flex {
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width: 1000px) {
  .product-flex {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
  }
}
@media (max-width:1700px){
  .product-flex{
    margin-right:-15px !important;
  } 
}
